.bodyJuego1{
    @include body (url(../img/spl1/home/fondo-body.jpeg));
    background-attachment: fixed;
}

.bodyJuego2{
    @include body (url(../img/spl2/home/fondo-body.jpg));
    background-attachment: fixed;
}

.bodyJuego3{
    @include body (url(../img/spl3/home/fondo-body.jpg));
    background-attachment: fixed;
}

.bodyCantante{
    @include body (url(../img/index/fondo-body-cantantes.png));
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}