.carruselSeccion{
    margin: 5% 0px;

   .carrusel{
    border-radius: 20px;

    h2{
        color: rgb(70, 246, 240);
        text-shadow: 4px 4px rgba(0, 0, 0, 0.118);
        background-color: rgba(0, 0, 0, 0.585);
        border-radius: 8px;
        padding-left: 1%;
        padding-right: 1%;
    }

    .textoDes{
        color: rgb(255, 255, 255);
        text-shadow: 4px 4px rgba(0, 0, 0, 0.808);
        background-color: rgba(0, 0, 0, 0.585);
        border-radius: 8px;
        padding-left: 1%;
    }
   }



}