.portadaCantante{
    background-image: url(../img/spl1/sq/squid-sisters-portada-home.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.portadaCantante2{
    background-image: url(../img/spl2/sq/off-the-hook-portada-home.jpg);
    background-size: cover;
    background-position: center 25%;
    background-repeat: no-repeat;
}

.portadaCantante3{
    background-image: url(../img/spl3/sq/deep-cut-portada-home.jpeg);
    background-size: cover;
    background-position: center 30%;
    background-repeat: no-repeat;
}