
.primerasImpresiones{
    margin-top: 10%;
    flex-direction: column;

    .imagenPrincipalIndex{
        width: 100%;
    }

    .iframeVideo{
        border: 10px double rgb(93, 0, 255);
    }
}

