* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family:'ChakraPetch';
    src: url('../fonts/ChakraPetch-Bold.ttf') format('truetype');
}

html {
    scroll-behavior: smooth;
}

/* IMPORTS */
@import "variables", "mixin", "headerIndex", "primerasImpresiones", "remarcarTexto", "barraDivisoraIndex", "menuSelector", "footer", "bodyJuego",
"barraNav", "seccionJuego", "portadaCantante", "listaDeReproduccion", "carrusel";

/* -------------------------------INDEX------------------------------------*/

/* BODY GENERAL */
body {
   @include body (url(../img/index/fondo-body.png))

}

/* M Q */
/* 0px - 480px */
@media(min-width: 0px) and (max-width: 480px) {

    /*HEADER*/
    .headerIndex {
        .spLogoBarraNavIndex {
            width: 80%;
        }
    }

    /*PRIMERAS IMPRESIONES*/
    .primerasImpresiones {
        gap: 25px;

        .iframeVideo {
            width: 100%;
        }
    }

    /* BARRA DIVISORA */
    .barraDivisoraIndex {
        .listaBarraNavIndex {
            display: none;
        }
    }

    /* MENU SELECTOR (JUEGO/CANTANTES) */
    .menuSelector {

        .imagenLogoSelectorMenu {
            width: 80%;
            margin: 5% 0px;
            margin-bottom: 5%;
        }

        .contenedorMenuSelector {
            width: 100%;
            height: 400px;

            .imagenDentroContenedorMenuSelector {
                width: 700px;
            }

            .imagenDentroContenedorMenuSelector2 {
                width: 900px;
                margin-right: 40%;
            }

            .imagenDentroContenedorMenuSelector3 {
                width: 470px;
                margin-top: 40%;
            }
        }
    }
}

/* 481px - 768px */
@media(min-width: 481px) and (max-width: 768px) {

    /*HEADER*/
    .headerIndex {
        .spLogoBarraNavIndex {
            width: 70%;
        }
    }

    /*PRIMERAS IMPRESIONES*/
    .primerasImpresiones {
        gap: 35px;

        .imagenPrincipalIndex {
            width: 90%;
        }

        .iframeVideo {
            width: 100%;
        }
    }

    /* BARRA DIVISORA */
    .barraDivisoraIndex {
        .listaBarraNavIndex {
            display: none;
        }
    }

    /* MENU SELECTOR (JUEGO/CANTANTES) */
    .menuSelector {

        .imagenLogoSelectorMenu {
            width: 90%;
            margin: 5% 0px;
        }

        .contenedorMenuSelector {
            width: 100%;
            height: 400px;
            margin-bottom: 5%;

            .imagenDentroContenedorMenuSelector {
                width: 700px;
            }

            .imagenDentroContenedorMenuSelector2 {
                width: 900px;
                margin-right: 20%;
            }

            .imagenDentroContenedorMenuSelector3 {
                width: 700px;
                margin-top: 40%;
            }
        }
    }
}

/* 769px - 1279px */
@media(min-width: 769px) and (max-width: 1279px) {

    /*HEADER*/
    .headerIndex {
        background-position: 0px 100%;

        .botonNavIndex {
            transition: 0.3s;

            &:hover {
                transform: scale(0.8);
            }

            img {
                width: 80%;
            }
        }
    }

    /*PRIMERAS IMPRESIONES*/
    .primerasImpresiones {
        gap: 15px;
        margin-top: 3%;
        margin-bottom: 5%;

        .imagenPrincipalIndex {
            width: 50%;
            transition: 0.3s;

            &:hover {
                transform: scale(0.9);
            }
        }

        p {
            width: 70%;
        }

        .iframeVideo {
            width: 70%;
            height: 400px;
        }
    }

    /* MENU SELECTOR (JUEGO/CANTANTES) */
    .menuSelector {

        .imagenLogoSelectorMenu1 {
            width: 30%;
            position: absolute;
            z-index: 1;

            margin-top: 20%;
            margin-right: 70%;
            transition: 0.3s;

            &:hover {
                transform: scale(0.9);
            }
        }

        .imagenLogoSelectorMenu2 {
            width: 30%;
            position: absolute;
            z-index: 1;

            margin-top: 20%;
            margin-left: 70%;
            transition: 0.3s;

            &:hover {
                transform: scale(0.9);
            }
        }

        .contenedorMenuSelector {
            width: 80%;
            height: 500px;
            margin-bottom: 0%;
            margin: 5%;

            .imagenDentroContenedorMenuSelector {
                transition: 0.3s;
                width: 900px;
            }

            .imagenDentroContenedorMenuSelector2 {
                transition: 0.3s;
                width: 1100px;
                margin-right: 20%;
            }

            .imagenDentroContenedorMenuSelector3 {
                transition: 0.3s;
                width: 600px;
                margin-top: 50%;
            }

            &:hover {
                h4 {
                    transition: 0.3s;
                    opacity: 1;
                    z-index: 6;
                }

                .imagenDentroContenedorMenuSelector {
                    filter: grayscale(0.4) blur(7px);
                }

                .imagenDentroContenedorMenuSelector2 {
                    filter: grayscale(0.4) blur(7px);

                }

                .imagenDentroContenedorMenuSelector3 {
                    filter: grayscale(0.4) blur(7px);
                }
            }


        }
    }


}

/* 1280px -  */
@media(min-width: 1280px) {

    /*HEADER*/
    .headerIndex {
        background-position: 0px 100%;

        .botonNavIndex {
            transition: 0.3s;

            &:hover {
                transform: scale(0.8);
            }

            img {
                width: 70%;
            }
        }
    }

    /*PRIMERAS IMPRESIONES*/
    .primerasImpresiones {
        gap: 15px;
        margin-top: 3%;
        margin-bottom: 5%;

        .imagenPrincipalIndex {
            width: 30%;
            transition: 0.3s;

            &:hover {
                transform: scale(0.9);
            }
        }

        p {
            width: 70%;
        }

        .iframeVideo {
            width: 50%;
            height: 400px;
        }
    }

    /* MENU SELECTOR (JUEGO/CANTANTES) */
    .menuSelector {

        .imagenLogoSelectorMenu1 {
            width: 25%;
            position: absolute;
            z-index: 1;

            margin-top: 20%;
            margin-right: 75%;
            transition: 0.3s;

            &:hover {
                transform: scale(0.9);
            }
        }

        .imagenLogoSelectorMenu2 {
            width: 25%;
            position: absolute;
            z-index: 1;

            margin-top: 20%;
            margin-left: 75%;
            transition: 0.3s;

            &:hover {
                transform: scale(0.9);
            }
        }

        .contenedorMenuSelector {
            width: 60%;
            height: 500px;
            margin-bottom: 0%;
            margin: 5%;

            .imagenDentroContenedorMenuSelector {
                transition: 0.3s;
                width: 900px;
            }

            .imagenDentroContenedorMenuSelector2 {
                transition: 0.3s;
                width: 1100px;
                margin-right: 20%;
            }

            .imagenDentroContenedorMenuSelector3 {
                transition: 0.3s;
                width: 600px;
                margin-top: 50%;
            }

            &:hover {
                .t2 {
                    transition: 0.3s;
                    opacity: 1;
                    z-index: 6;
                }

                .imagenDentroContenedorMenuSelector {
                    filter: grayscale(0.4) blur(7px);
                }

                .imagenDentroContenedorMenuSelector2 {
                    filter: grayscale(0.4) blur(7px);

                }

                .imagenDentroContenedorMenuSelector3 {
                    filter: grayscale(0.4) blur(7px);
                }
            }


        }
    }

}

/* -------------------------------JUEGO------------------------------------*/

/* M Q */
/* 0px - 480px */
@media(min-width: 0px) and (max-width: 480px) {

    /* BODY GENERAL */
    .bodyJuego1 {
        background-size: $backgroundWitchPromedio;
    }

    .bodyJuego2 {
        background-size: $backgroundWitchPromedio;
    }

    .bodyJuego3 {
        background-size: $backgroundWitchPromedio;
    }
}

/* 481px - 768px */
@media(min-width: 481px) and (max-width: 768px) {

    /* BODY GENERAL */
    .bodyJuego1 {
        background-size: $backgroundWitchPromedio;
    }

    .bodyJuego2 {
        background-size: $backgroundWitchPromedio;
    }

    .bodyJuego3 {
        background-size: $backgroundWitchPromedio;
    }
}

/* 769px - 1279px */
@media(min-width: 769px) and (max-width: 1279px) {

    /* BODY GENERAL */
    .bodyJuego1 {
        background-size: 1470px;
    }

    .bodyJuego2 {
        background-size: 1470px;
    }

    .bodyJuego3 {
        background-size: 1470px;
    }
}

/* 1280px */
@media(min-width: 1280px) {

    /* BODY GENERAL */
    .bodyJuego1 {
        background-size: cover;
    }

    .bodyJuego2 {
        background-size: cover;
    }

    .bodyJuego3 {
        background-size: cover;
    }
}
/* -------------------------------CANTANTES------------------------------------*/

/* M Q */
/* 0px - 480px */
@media(min-width: 0px) and (max-width: 480px) {

    /* CARRUSEL */
    .carruselSeccion{
        h2{
            display: none;
        }
        .textoDes{
            display: none;
        }
    }

}

